@{
    ViewData["Title"] = "File Page";
    var files = ViewBag.Files as string[];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] </h1>
    @foreach (var file in files!)
    {
        <p>@file</p>
    }

    @* <h2>Student ID: A01282003 </h2>
    <p>I want to be a Software Engineer when I graduate</p> *@
</div>
