@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Anh Nguyen</h1>
    <h2>Student ID: A01282003 </h2>
    <p>I want to be a Software Engineer when I graduate</p>
</div>
